.about-container {
    background-color: #282c44;
    height: 100%;
    padding-bottom: 30px;
}

.header-text {
    text-align: center;
    color: white;
    font-size: 4rem;
}

.header {
    position: relative;
    top: 4vh;
}

.card-img-top-sam {
    width: 100%;
    height: 45vw;
    border-radius: 2px;
    object-fit: cover;
}


.card {
    margin-left: 22%;
    margin-right: 22%;
    margin-top: 5%;
    text-align: center;
}

.card-body i {
    text-rendering: optimizeLegibility;
    font-size: 25px;
    color: #0C1917;
    margin: 0.5em;
    border: none;
}

.card-body a {
    text-decoration: none;
}

.img-hobby1 {

    max-height: 50%;
    margin-top: 50px;
}

.img-hobby2 {
    max-height: 100%;
    margin-top: 10px;
}

.fa {
    color: black;
    padding: 2%;
}

.icons {
    
}