.background {
    background-color: #282c44;
    background-size: cover;
}

.mask {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px;
    color: white;
}

.main {
    display: flex;
    flex-wrap: nowrap;
    height: fit-content;
    padding: 20px;
    color: white;
    gap: 75px;
}

.left ul {
    white-space: nowrap;
    position: sticky;
    top: 25%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 350px;
}

.left ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.left ul li:hover {
    font-style: italic;
    cursor: pointer;
}

.profile {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.icon-ex {
    color: white;
    margin: 10px;
    margin-top: 30px;
}

a {
    text-decoration: none !important;
}

@media only screen and (max-width: 800px) {

    .left {
        display: none;
    }
}

.work-img-mlh {
    width:120px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 50%;
}

.work-img-moh {
    width:120px;
    height: 155px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 50%;
}

.work-img-fsae {
    width:120px;
    height: 155px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 50%;
}

@media only screen and (min-width: 1500px)
{
    .carousel {
        margin-right: 300px;
    }
}