body {
    background-color: white;
    background-size: cover;
    width: auto;
    overflow-x: hidden;
    margin: 0px;
}

.intro,
.about,
.experience {
    margin-top: 300px;
}

.header-text {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

.navbar{
    background-color: #101c14 !important;
    padding-right: 12px !important;
}