{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/about.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}

<div class="about-container">
    <div class="header">
        <h1 class="header-text">About</h1>
    </div>

    <div class="card">
        <div class="row g-0">
            <div class="col-md-4">
                <img class="rounded-start card-img-top-sam" src="../static/img/sam/samSelfie.jpg" alt="sam selfie"
                    style="max-height: 600px;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title">Introduction</h3>
                    <p class="card-text">{{data.sam.about}}</p>
                    <h3 class="card-title">Education</h3>
                    <p class="card-text">{{data.sam.education}}</p>
                    <h3 class="card-title">Hobbies</h3>
                    <p class="card-text">I enjoy {{data.sam.hobbies}}</p>

                    <h3 class="card-title">What am I up to?</h3>
                    <ul>
                        <li>{{ data.sam.current[0].val }}</li>
                        <li>{{ data.sam.current[1].val }}</li>
                        <li>{{ data.sam.current[2].val }}</li>
                        <li>{{ data.sam.current[3].val }}</li>
                    </ul>
                </div>

            </div>

            <a href="{{ url_for('experience') }}" class="btn btn-lg btn-dark btn-outline-light">
                See More! </a>
        </div>
    </div>
</div>


{% endblock %}