{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/error429.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}

<div class="main">
    <h1 class="title">Error! The rate at which you are sending requests is too high. (429)</h1>
    <a href="{{ url_for('timeline') }}" class="btn btn-lg btn-dark btn-outline-light">
        Sorry :( </a>
</div>

{% endblock %}