{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/experience.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="{{ url_for('static', filename='scripts/experience.js') }}" defer></script>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="background">
    <div class="mask">

        <h1 style="font-size:4rem;">Experience</h1>

        <div class="main">
            <div class="left">
                <ul>
                    <li id="prof-button"><img src="{{ url_for('static', filename='img/arrow-right.svg') }}"
                            alt="">Professional</li>
                    <li id="project-button"><img src="{{ url_for('static', filename='img/arrow-right.svg') }}"
                            alt="">Projects</li>
                </ul>
            </div>

            <div class="center">

                <div id="professional">
                    <div class="profile">

                        <div class="brief">
                            <h3>Professional</h3>
                            <h4>{{data.sam.work_experience[0].name}}</h4>
                            <p>{{data.sam.work_experience[0].val}}</p>

                            <br />
                            <h4>{{data.sam.work_experience[1].name}}</h4>
                            <p>{{data.sam.work_experience[1].val}}</p>

                            <br />
                            <h4>{{data.sam.work_experience[2].name}}</h4>
                            <p>{{data.sam.work_experience[2].val}}</p>

                        </div>
                    </div>
                </div>

                <h3>Projects</h3>

                <div id="projects">
                    <div class="projects">

                        <div class="project">
                            <h5>{{ data.sam.projects[0].name }}</h5>
                            <a href="{{ data.sam.projects[0].link }}">
                                <div class="wrap">
                                    <img src="{{ url_for('static', filename='img/sam/TimeSavior.png')}}" alt="">
                                    <div class="desc">{{ data.sam.projects[0].desc }}</div>
                                </div>
                            </a>
                        </div>
                        <div class="project">
                            <h5>{{ data.sam.projects[1].name }}</h5>
                            <a href="{{ data.sam.projects[2].link }}">
                                <div class="wrap">
                                    <img src="{{ url_for('static', filename='img/sam/CookHack.png')}}" alt="">
                                    <div class="desc">{{ data.sam.projects[1].desc }}</div>
                                </div>
                            </a>
                        </div>
                        <div class="project">
                            <h5>{{ data.sam.projects[2].name }}</h5>
                            <a href="{{ data.sam.projects[2].link }}">
                                <div class="wrap">
                                    <img src="{{ url_for('static', filename='img/sam/car.png')}}" alt="">
                                    <div class="desc">{{ data.sam.projects[2].desc }}</div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>

                <div class="see-more">
                    <h3>Want to see more?</h3>

                    <a href={{ data.sam.social[0].val }}>
                        <i class="fa fa-3x fa-linkedin-square"></i>
                    </a>
                    <a href={{ data.sam.social[1].val }}>
                        <i class="fa fa-3x fa-github"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}