<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c3beab4e97297a1712495206a3dd4543 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_c3beab4e97297a1712495206a3dd4543" ></div>
        
</body>
<script>    
    
            var map_c3beab4e97297a1712495206a3dd4543 = L.map(
                "map_c3beab4e97297a1712495206a3dd4543",
                {
                    center: [43.653, -79.383],
                    crs: L.CRS.EPSG3857,
                    zoom: 3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f316f7dce9601de83059a012a39c7717 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_c3beab4e97297a1712495206a3dd4543);
        
    
            var marker_b20aea18bddcf1c0a83c797e6eac8084 = L.marker(
                [28.538336, -81.379234],
                {}
            ).addTo(map_c3beab4e97297a1712495206a3dd4543);
        
    
            var icon_e8a458e2a76288b3f948559ea433112b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_b20aea18bddcf1c0a83c797e6eac8084.setIcon(icon_e8a458e2a76288b3f948559ea433112b);
        
    
        var popup_39c43d527bcd5da91fec90fce0cdf7c0 = L.popup({"maxWidth": "100%"});

        
            var html_f61cae24931095490e730b0873034439 = $(`<div id="html_f61cae24931095490e730b0873034439" style="width: 100.0%; height: 100.0%;">Orlando, Florida, USA</div>`)[0];
            popup_39c43d527bcd5da91fec90fce0cdf7c0.setContent(html_f61cae24931095490e730b0873034439);
        

        marker_b20aea18bddcf1c0a83c797e6eac8084.bindPopup(popup_39c43d527bcd5da91fec90fce0cdf7c0)
        ;

        
    
    
            var marker_5e3ffd025c59faf4d709ba0fcffe7919 = L.marker(
                [40.7127281, -74.0060152],
                {}
            ).addTo(map_c3beab4e97297a1712495206a3dd4543);
        
    
            var icon_9a99aeb2eb3b89e88c79a7568905d6e1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_5e3ffd025c59faf4d709ba0fcffe7919.setIcon(icon_9a99aeb2eb3b89e88c79a7568905d6e1);
        
    
        var popup_210a65a62491f5b045afd02c6eb41ec4 = L.popup({"maxWidth": "100%"});

        
            var html_1e0d6faf659eb311743be400623477b5 = $(`<div id="html_1e0d6faf659eb311743be400623477b5" style="width: 100.0%; height: 100.0%;">New York City, USA</div>`)[0];
            popup_210a65a62491f5b045afd02c6eb41ec4.setContent(html_1e0d6faf659eb311743be400623477b5);
        

        marker_5e3ffd025c59faf4d709ba0fcffe7919.bindPopup(popup_210a65a62491f5b045afd02c6eb41ec4)
        ;

        
    
    
            var marker_28b8d480194f05781822e6d63b21cb4b = L.marker(
                [46.829853, -71.254028],
                {}
            ).addTo(map_c3beab4e97297a1712495206a3dd4543);
        
    
            var icon_adcc1ca0bf5a01b2911197a3cf3bf182 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_28b8d480194f05781822e6d63b21cb4b.setIcon(icon_adcc1ca0bf5a01b2911197a3cf3bf182);
        
    
        var popup_70db7fb108d9ff1ad89aebd8250a2df9 = L.popup({"maxWidth": "100%"});

        
            var html_7d52952b213c267feaaf0b309c58ffaf = $(`<div id="html_7d52952b213c267feaaf0b309c58ffaf" style="width: 100.0%; height: 100.0%;">Quebec City, Canada</div>`)[0];
            popup_70db7fb108d9ff1ad89aebd8250a2df9.setContent(html_7d52952b213c267feaaf0b309c58ffaf);
        

        marker_28b8d480194f05781822e6d63b21cb4b.bindPopup(popup_70db7fb108d9ff1ad89aebd8250a2df9)
        ;

        
    
</script>