<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_9d2ef705ea57c53990123a85714a73c5 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    
                <style>
                    #float_image_31d1cee2ebfdaa2d98fd8aecb7965bd7 {
                        position:absolute;
                        bottom:0%;
                        left:0%;
                        }
                </style>
            
</head>
<body>    
    
            <div class="folium-map" id="map_9d2ef705ea57c53990123a85714a73c5" ></div>
        
    
            <img id="float_image_31d1cee2ebfdaa2d98fd8aecb7965bd7" alt="float_image"
                 src="/static/img/legend.jpg"
                 style="z-index: 999999">
            </img>
            
</body>
<script>    
    
            var map_9d2ef705ea57c53990123a85714a73c5 = L.map(
                "map_9d2ef705ea57c53990123a85714a73c5",
                {
                    center: [43.653, -79.383],
                    crs: L.CRS.EPSG3857,
                    zoom: 3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_12110581fb9a8949a7408917af21f2e4 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_9d2ef705ea57c53990123a85714a73c5);
        
    
            var marker_4e284653b7d904bb782d435255848c6b = L.marker(
                [20.77025, -156.239304],
                {}
            ).addTo(map_9d2ef705ea57c53990123a85714a73c5);
        
    
            var icon_1a8e475aaa7b5033e5eceb3db9034e46 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_4e284653b7d904bb782d435255848c6b.setIcon(icon_1a8e475aaa7b5033e5eceb3db9034e46);
        
    
        var popup_aa8ee48c47081efd9dc4b4c888e86685 = L.popup({"maxWidth": "100%"});

        
            var html_46d0a39130696009fe2a8f1973277e33 = $(`<div id="html_46d0a39130696009fe2a8f1973277e33" style="width: 100.0%; height: 100.0%;">Haleakala National Park, Hawaii</div>`)[0];
            popup_aa8ee48c47081efd9dc4b4c888e86685.setContent(html_46d0a39130696009fe2a8f1973277e33);
        

        marker_4e284653b7d904bb782d435255848c6b.bindPopup(popup_aa8ee48c47081efd9dc4b4c888e86685)
        ;

        
    
    
            var marker_6eecf82d5b9f697df0e727c9ed663cd8 = L.marker(
                [41.546322, 2.44775],
                {}
            ).addTo(map_9d2ef705ea57c53990123a85714a73c5);
        
    
            var icon_80faef370e252abb306447f5de4918ba = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_6eecf82d5b9f697df0e727c9ed663cd8.setIcon(icon_80faef370e252abb306447f5de4918ba);
        
    
        var popup_772897a9b08965bdb06ad2416a90412d = L.popup({"maxWidth": "100%"});

        
            var html_65eef2bcd5cd2b385c07609fa0f176bf = $(`<div id="html_65eef2bcd5cd2b385c07609fa0f176bf" style="width: 100.0%; height: 100.0%;">La Sagrada Familia, Spain</div>`)[0];
            popup_772897a9b08965bdb06ad2416a90412d.setContent(html_65eef2bcd5cd2b385c07609fa0f176bf);
        

        marker_6eecf82d5b9f697df0e727c9ed663cd8.bindPopup(popup_772897a9b08965bdb06ad2416a90412d)
        ;

        
    
    
            var marker_a9069685260f72023f046d12ff9287e5 = L.marker(
                [50.8169, -0.1367],
                {}
            ).addTo(map_9d2ef705ea57c53990123a85714a73c5);
        
    
            var icon_f6057fcf4d107d540325446b63469cd3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_a9069685260f72023f046d12ff9287e5.setIcon(icon_f6057fcf4d107d540325446b63469cd3);
        
    
        var popup_0fe07fd8a597ea09ab571d3d8999b714 = L.popup({"maxWidth": "100%"});

        
            var html_e64e91236012d7689939cdb2211de500 = $(`<div id="html_e64e91236012d7689939cdb2211de500" style="width: 100.0%; height: 100.0%;">Brighton Palace Pier, UK</div>`)[0];
            popup_0fe07fd8a597ea09ab571d3d8999b714.setContent(html_e64e91236012d7689939cdb2211de500);
        

        marker_a9069685260f72023f046d12ff9287e5.bindPopup(popup_0fe07fd8a597ea09ab571d3d8999b714)
        ;

        
    
    
            var marker_35007e01abc7dffbf504241635356597 = L.marker(
                [43.790428, -110.681763],
                {}
            ).addTo(map_9d2ef705ea57c53990123a85714a73c5);
        
    
            var icon_993376c0b798d06b5dde8c5cc8f11f96 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_35007e01abc7dffbf504241635356597.setIcon(icon_993376c0b798d06b5dde8c5cc8f11f96);
        
    
        var popup_991347f200c820510e3f2ebaed84b9ea = L.popup({"maxWidth": "100%"});

        
            var html_0ee6d656ef1a963373250700332dd7a7 = $(`<div id="html_0ee6d656ef1a963373250700332dd7a7" style="width: 100.0%; height: 100.0%;">Grand Teton National Park, USA</div>`)[0];
            popup_991347f200c820510e3f2ebaed84b9ea.setContent(html_0ee6d656ef1a963373250700332dd7a7);
        

        marker_35007e01abc7dffbf504241635356597.bindPopup(popup_991347f200c820510e3f2ebaed84b9ea)
        ;

        
    
    
            var marker_8a5fded0b28269069dcf052dff820430 = L.marker(
                [28.538336, -81.379234],
                {}
            ).addTo(map_9d2ef705ea57c53990123a85714a73c5);
        
    
            var icon_386dde2c60ced855f6dda92120e043d1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_8a5fded0b28269069dcf052dff820430.setIcon(icon_386dde2c60ced855f6dda92120e043d1);
        
    
        var popup_2c6c3d77709dbe3cbea4da73bbe5bb5b = L.popup({"maxWidth": "100%"});

        
            var html_2cdb39b7a487fa35870f76a909a03001 = $(`<div id="html_2cdb39b7a487fa35870f76a909a03001" style="width: 100.0%; height: 100.0%;">Orlando, Florida, USA</div>`)[0];
            popup_2c6c3d77709dbe3cbea4da73bbe5bb5b.setContent(html_2cdb39b7a487fa35870f76a909a03001);
        

        marker_8a5fded0b28269069dcf052dff820430.bindPopup(popup_2c6c3d77709dbe3cbea4da73bbe5bb5b)
        ;

        
    
    
            var marker_8059488959e2a22f2009579f026babe4 = L.marker(
                [40.7127281, -74.0060152],
                {}
            ).addTo(map_9d2ef705ea57c53990123a85714a73c5);
        
    
            var icon_838c567a53210f550038e3497ac86e51 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_8059488959e2a22f2009579f026babe4.setIcon(icon_838c567a53210f550038e3497ac86e51);
        
    
        var popup_3cd589512c8501584b1dc2bb12d5ae91 = L.popup({"maxWidth": "100%"});

        
            var html_58f09876a09273c70ce2ebc4b0d39747 = $(`<div id="html_58f09876a09273c70ce2ebc4b0d39747" style="width: 100.0%; height: 100.0%;">New York City, USA</div>`)[0];
            popup_3cd589512c8501584b1dc2bb12d5ae91.setContent(html_58f09876a09273c70ce2ebc4b0d39747);
        

        marker_8059488959e2a22f2009579f026babe4.bindPopup(popup_3cd589512c8501584b1dc2bb12d5ae91)
        ;

        
    
    
            var marker_d4fd696b92ecddf39aebe447e074bbd6 = L.marker(
                [46.829853, -71.254028],
                {}
            ).addTo(map_9d2ef705ea57c53990123a85714a73c5);
        
    
            var icon_ac9e51cc6b331aa6e9345fa1d949c911 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_d4fd696b92ecddf39aebe447e074bbd6.setIcon(icon_ac9e51cc6b331aa6e9345fa1d949c911);
        
    
        var popup_73fec2b69314bd012d01e92173b902ec = L.popup({"maxWidth": "100%"});

        
            var html_ba64267d6470b795817d3f4aef842b39 = $(`<div id="html_ba64267d6470b795817d3f4aef842b39" style="width: 100.0%; height: 100.0%;">Quebec City, Canada</div>`)[0];
            popup_73fec2b69314bd012d01e92173b902ec.setContent(html_ba64267d6470b795817d3f4aef842b39);
        

        marker_d4fd696b92ecddf39aebe447e074bbd6.bindPopup(popup_73fec2b69314bd012d01e92173b902ec)
        ;

        
    
    
            var marker_5bfc6f9c4c30dbdee760667ee0c23a13 = L.marker(
                [45.5017, -73.5673],
                {}
            ).addTo(map_9d2ef705ea57c53990123a85714a73c5);
        
    
            var icon_0bd5df9f170fe33193ce2018fa629fe4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_5bfc6f9c4c30dbdee760667ee0c23a13.setIcon(icon_0bd5df9f170fe33193ce2018fa629fe4);
        
    
        var popup_f9918007f0980b97a57606fc95932c6d = L.popup({"maxWidth": "100%"});

        
            var html_ad0829738941c46b24292bcb6fc0c6df = $(`<div id="html_ad0829738941c46b24292bcb6fc0c6df" style="width: 100.0%; height: 100.0%;">Montreal, Canada</div>`)[0];
            popup_f9918007f0980b97a57606fc95932c6d.setContent(html_ad0829738941c46b24292bcb6fc0c6df);
        

        marker_5bfc6f9c4c30dbdee760667ee0c23a13.bindPopup(popup_f9918007f0980b97a57606fc95932c6d)
        ;

        
    
    
            var marker_3032be8a868345c7c50fbe33ede72272 = L.marker(
                [17.385, 78.4867],
                {}
            ).addTo(map_9d2ef705ea57c53990123a85714a73c5);
        
    
            var icon_8d0094edfe34cdc78ffff79039957b9a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_3032be8a868345c7c50fbe33ede72272.setIcon(icon_8d0094edfe34cdc78ffff79039957b9a);
        
    
        var popup_8f285e99c4778f1da7e0698bbb8cb142 = L.popup({"maxWidth": "100%"});

        
            var html_8e1f781e02e793814593260c884300f3 = $(`<div id="html_8e1f781e02e793814593260c884300f3" style="width: 100.0%; height: 100.0%;">Hyderabad, India</div>`)[0];
            popup_8f285e99c4778f1da7e0698bbb8cb142.setContent(html_8e1f781e02e793814593260c884300f3);
        

        marker_3032be8a868345c7c50fbe33ede72272.bindPopup(popup_8f285e99c4778f1da7e0698bbb8cb142)
        ;

        
    
    
            var marker_26763a6ef54b99d77b02cd98d05ea07c = L.marker(
                [25.2854, 51.531],
                {}
            ).addTo(map_9d2ef705ea57c53990123a85714a73c5);
        
    
            var icon_869a28a3bab8a3eb0d8d3ad84b9cf774 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_26763a6ef54b99d77b02cd98d05ea07c.setIcon(icon_869a28a3bab8a3eb0d8d3ad84b9cf774);
        
    
        var popup_48362ec92045a79e742c8f9c7360d140 = L.popup({"maxWidth": "100%"});

        
            var html_9c406bff45d3ea7eafe830d5144fb676 = $(`<div id="html_9c406bff45d3ea7eafe830d5144fb676" style="width: 100.0%; height: 100.0%;">Doha Qatar</div>`)[0];
            popup_48362ec92045a79e742c8f9c7360d140.setContent(html_9c406bff45d3ea7eafe830d5144fb676);
        

        marker_26763a6ef54b99d77b02cd98d05ea07c.bindPopup(popup_48362ec92045a79e742c8f9c7360d140)
        ;

        
    
</script>