<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_50c0c06d0d0394448ff9c42c14f71aa9 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_50c0c06d0d0394448ff9c42c14f71aa9" ></div>
        
</body>
<script>    
    
            var map_50c0c06d0d0394448ff9c42c14f71aa9 = L.map(
                "map_50c0c06d0d0394448ff9c42c14f71aa9",
                {
                    center: [43.653, -79.383],
                    crs: L.CRS.EPSG3857,
                    zoom: 3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_cbdff5793b3f923d3d507f5f0131f8e8 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_50c0c06d0d0394448ff9c42c14f71aa9);
        
    
            var marker_006ee1a6f56c377dc41ff161603b00b9 = L.marker(
                [28.538336, -81.379234],
                {}
            ).addTo(map_50c0c06d0d0394448ff9c42c14f71aa9);
        
    
            var icon_4f5977c4e8090c0f21244a0058757e43 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_006ee1a6f56c377dc41ff161603b00b9.setIcon(icon_4f5977c4e8090c0f21244a0058757e43);
        
    
        var popup_671de42256544eca9711430af9dbdaf1 = L.popup({"maxWidth": "100%"});

        
            var html_4d3cf8525e683067fcb2e8a86145315d = $(`<div id="html_4d3cf8525e683067fcb2e8a86145315d" style="width: 100.0%; height: 100.0%;">Orlando, Florida, USA</div>`)[0];
            popup_671de42256544eca9711430af9dbdaf1.setContent(html_4d3cf8525e683067fcb2e8a86145315d);
        

        marker_006ee1a6f56c377dc41ff161603b00b9.bindPopup(popup_671de42256544eca9711430af9dbdaf1)
        ;

        
    
    
            var marker_0da9509c1efd44ffbae75a7ec6480c50 = L.marker(
                [40.7127281, -74.0060152],
                {}
            ).addTo(map_50c0c06d0d0394448ff9c42c14f71aa9);
        
    
            var icon_e573d9e31abcbe955f2aafb83c244ebd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_0da9509c1efd44ffbae75a7ec6480c50.setIcon(icon_e573d9e31abcbe955f2aafb83c244ebd);
        
    
        var popup_20ac720df071d09db55308060a1392aa = L.popup({"maxWidth": "100%"});

        
            var html_aa7e36b054979c7b8beeebe7c742725a = $(`<div id="html_aa7e36b054979c7b8beeebe7c742725a" style="width: 100.0%; height: 100.0%;">New York City, USA</div>`)[0];
            popup_20ac720df071d09db55308060a1392aa.setContent(html_aa7e36b054979c7b8beeebe7c742725a);
        

        marker_0da9509c1efd44ffbae75a7ec6480c50.bindPopup(popup_20ac720df071d09db55308060a1392aa)
        ;

        
    
    
            var marker_61a8673332251a318246c3ce629c7b34 = L.marker(
                [46.829853, -71.254028],
                {}
            ).addTo(map_50c0c06d0d0394448ff9c42c14f71aa9);
        
    
            var icon_92cd2dbd753969361d6891a59431c4ef = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_61a8673332251a318246c3ce629c7b34.setIcon(icon_92cd2dbd753969361d6891a59431c4ef);
        
    
        var popup_102011ed68aea3d4cad2581b8c44de2b = L.popup({"maxWidth": "100%"});

        
            var html_c8c215c309267a1f4c830e21b733ad38 = $(`<div id="html_c8c215c309267a1f4c830e21b733ad38" style="width: 100.0%; height: 100.0%;">Quebec City, Canada</div>`)[0];
            popup_102011ed68aea3d4cad2581b8c44de2b.setContent(html_c8c215c309267a1f4c830e21b733ad38);
        

        marker_61a8673332251a318246c3ce629c7b34.bindPopup(popup_102011ed68aea3d4cad2581b8c44de2b)
        ;

        
    
</script>